body{
	font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	 overflow-x: hidden;
}

p {
	margin-bottom: 0px;
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img{
	max-width:100%;
}
.header-navbar-container{
	 background-color: #eaeaea;
	margin-bottom: 30px;
	width: 100%;
}

.list-group{
	border-radius: 0px;
}

.bottom-footer{
	margin-top: 30px;
    background-color: #eaeaea;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

}